@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8; /* Example primary color */
  --color-secondary: #f59e0b; /* Example secondary color */
  --color-background: #f3f4f6; /* Example background color */
  --color-text: #111827; /* Example text color */
}
